<!-- ======= views/profile.erb ======= -->
<h1>Profile</h1>

<div id="account_details">
    <p>Account Details</p>
    <p> Name: <%= @doctor[:name] %> </p>
    <p> Clinic ID: <%= @doctor[:clinic_id] %> </p>
    <p> Speciality: <%= @doctor[:speciality] %> </p>
</div>

<div id="edit_account">
    <p>Change Account Settings</p>
    <a href="/update_clinic_form/<%= session[:clinic_id]%> ">Update your Clinic</a><br>
    <a href="/delete_clinic/<%= session[:clinic_id]%> ">Delete your Clinic</a><br>
    <!-- <a href="/update_doctor_form">Update your Account</a><br>
    <a href="/update_patient_form">Update your Patient Info</a><br> -->
</div>
